.hero{
    color: red;
    font-size:larger;
}
.container{
    padding-bottom: 10px;
    font-size:larger;
}
.container h2{
    margin-top: 0;
    color: #2980b9;
    text-align: center;
}
.container h4{
    color: #2980b9;
}
